<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.arm.debugger.launcher2">
    <mapAttribute key="AverageDurationTracker">
        <mapEntry key="*Fetching Data Model" value="944240"/>
        <mapEntry key="*list global low level symbols" value="1120173"/>
        <mapEntry key="*updating registers" value="220545800"/>
        <mapEntry key="AddEventObserver" value="2058628"/>
        <mapEntry key="Evaluate" value="4596000"/>
        <mapEntry key="compute execution mode" value="4206162"/>
        <mapEntry key="continue" value="11191434"/>
        <mapEntry key="get capabilities" value="376225"/>
        <mapEntry key="get execution addresss" value="354914"/>
        <mapEntry key="get source lines" value="292570"/>
        <mapEntry key="initialize command help" value="70304362"/>
        <mapEntry key="interrupt" value="9808800"/>
        <mapEntry key="list breakpoint options" value="200635"/>
        <mapEntry key="list breakpoints" value="23276043"/>
        <mapEntry key="list instruction sets" value="438843"/>
        <mapEntry key="list signals" value="10693696"/>
        <mapEntry key="list watchpoint options" value="1209621"/>
        <mapEntry key="list watchpoints" value="388934"/>
        <mapEntry key="loadfile" value="123018300"/>
        <mapEntry key="reload-symbol-file" value="37856218"/>
        <mapEntry key="set CWD" value="3147462"/>
        <mapEntry key="set debug-from" value="2038912"/>
        <mapEntry key="source altera_target_check.py" value="453826509"/>
        <mapEntry key="start" value="83831543"/>
        <mapEntry key="waitForTargetToStop" value="30259206"/>
    </mapAttribute>
    <intAttribute key="DEBUG_TAB..RESOURCES.COUNT" value="0"/>
    <intAttribute key="FILES.CONNECT_TO_GDB_SERVER.RESOURCES.COUNT" value="0"/>
    <intAttribute key="FILES.DEBUG_EXISTING_ANDROID.RESOURCES.COUNT" value="0"/>
    <listAttribute key="FILES.DEBUG_RESIDENT_ANDROID"/>
    <stringAttribute key="FILES.DEBUG_RESIDENT_ANDROID.RESOURCES.0.TYPE" value="TARGET_WORKING_DIR"/>
    <stringAttribute key="FILES.DEBUG_RESIDENT_ANDROID.RESOURCES.0.VALUE" value=""/>
    <intAttribute key="FILES.DEBUG_RESIDENT_ANDROID.RESOURCES.COUNT" value="1"/>
    <listAttribute key="FILES.DEBUG_RESIDENT_APP"/>
    <stringAttribute key="FILES.DEBUG_RESIDENT_APP.RESOURCES.0.TYPE" value="APPLICATION_ON_TARGET"/>
    <stringAttribute key="FILES.DEBUG_RESIDENT_APP.RESOURCES.0.VALUE" value=""/>
    <stringAttribute key="FILES.DEBUG_RESIDENT_APP.RESOURCES.1.TYPE" value="TARGET_WORKING_DIR"/>
    <stringAttribute key="FILES.DEBUG_RESIDENT_APP.RESOURCES.1.VALUE" value=""/>
    <intAttribute key="FILES.DEBUG_RESIDENT_APP.RESOURCES.COUNT" value="2"/>
    <listAttribute key="FILES.DOWNLOAD_AND_DEBUG"/>
    <stringAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.0.TYPE" value="TARGET_DOWNLOAD_DIR"/>
    <stringAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.0.VALUE" value=""/>
    <stringAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.1.OPTION.ALSO_LOAD_SYMBOLS" value="true"/>
    <stringAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.1.OPTION.ON_DEMAND_LOAD" value="true"/>
    <stringAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.1.TYPE" value="APP_ON_HOST_TO_DOWNLOAD"/>
    <stringAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.1.VALUE" value=""/>
    <stringAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.2.TYPE" value="TARGET_WORKING_DIR"/>
    <stringAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.2.VALUE" value=""/>
    <intAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.COUNT" value="3"/>
    <listAttribute key="FILES.DOWNLOAD_DEBUG"/>
    <stringAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.0.TYPE" value="TARGET_DOWNLOAD_DIR"/>
    <stringAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.0.VALUE" value=""/>
    <stringAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.1.OPTION.ALSO_LOAD_SYMBOLS" value="true"/>
    <stringAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.1.OPTION.ON_DEMAND_LOAD" value="true"/>
    <stringAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.1.TYPE" value="APP_ON_HOST_TO_DOWNLOAD"/>
    <stringAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.1.VALUE" value=""/>
    <stringAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.2.TYPE" value="TARGET_WORKING_DIR"/>
    <stringAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.2.VALUE" value=""/>
    <intAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.COUNT" value="3"/>
    <intAttribute key="FILES.DOWNLOAD_DEBUG_ANDROID.RESOURCES.COUNT" value="0"/>
    <listAttribute key="FILES.ICE_DEBUG">
        <listEntry value="ON_DEMAND_LOAD"/>
        <listEntry value="ALSO_LOAD_SYMBOLS"/>
    </listAttribute>
    <stringAttribute key="FILES.ICE_DEBUG.RESOURCES.0.OPTION.ALSO_LOAD_SYMBOLS" value="true"/>
    <stringAttribute key="FILES.ICE_DEBUG.RESOURCES.0.OPTION.ON_DEMAND_LOAD" value="true"/>
    <stringAttribute key="FILES.ICE_DEBUG.RESOURCES.0.TYPE" value="APP_ON_HOST_TO_DOWNLOAD"/>
    <stringAttribute key="FILES.ICE_DEBUG.RESOURCES.0.VALUE" value="${workspace_loc:/IPC/Debug/IPC.axf}"/>
    <intAttribute key="FILES.ICE_DEBUG.RESOURCES.COUNT" value="1"/>
    <listAttribute key="FILES.ICE_DEBUG_WITH_ETB_TRACE">
        <listEntry value="ON_DEMAND_LOAD"/>
        <listEntry value="ALSO_LOAD_SYMBOLS"/>
    </listAttribute>
    <stringAttribute key="FILES.ICE_DEBUG_WITH_ETB_TRACE.RESOURCES.0.OPTION.ALSO_LOAD_SYMBOLS" value="true"/>
    <stringAttribute key="FILES.ICE_DEBUG_WITH_ETB_TRACE.RESOURCES.0.OPTION.ON_DEMAND_LOAD" value="true"/>
    <stringAttribute key="FILES.ICE_DEBUG_WITH_ETB_TRACE.RESOURCES.0.TYPE" value="APP_ON_HOST_TO_DOWNLOAD"/>
    <stringAttribute key="FILES.ICE_DEBUG_WITH_ETB_TRACE.RESOURCES.0.VALUE" value=""/>
    <intAttribute key="FILES.ICE_DEBUG_WITH_ETB_TRACE.RESOURCES.COUNT" value="1"/>
    <listAttribute key="FILES.ICE_DEBUG_WITH_TRACE">
        <listEntry value="ON_DEMAND_LOAD"/>
        <listEntry value="ALSO_LOAD_SYMBOLS"/>
    </listAttribute>
    <stringAttribute key="FILES.ICE_DEBUG_WITH_TRACE.RESOURCES.0.OPTION.ALSO_LOAD_SYMBOLS" value="true"/>
    <stringAttribute key="FILES.ICE_DEBUG_WITH_TRACE.RESOURCES.0.OPTION.ON_DEMAND_LOAD" value="true"/>
    <stringAttribute key="FILES.ICE_DEBUG_WITH_TRACE.RESOURCES.0.TYPE" value="APP_ON_HOST_TO_DOWNLOAD"/>
    <stringAttribute key="FILES.ICE_DEBUG_WITH_TRACE.RESOURCES.0.VALUE" value=""/>
    <intAttribute key="FILES.ICE_DEBUG_WITH_TRACE.RESOURCES.COUNT" value="1"/>
    <stringAttribute key="FILES.SELECTED_DEBUG_OPEATION" value="ICE_DEBUG"/>
    <stringAttribute key="HOST_WORKING_DIR" value="${workspace_loc}"/>
    <booleanAttribute key="HOST_WORKING_DIR_USE_DEFAULT" value="true"/>
    <booleanAttribute key="KEY_COMMANDS_AFTER_CONNECT" value="false"/>
    <stringAttribute key="KEY_COMMANDS_AFTER_CONNECT_TEXT" value=""/>
    <booleanAttribute key="KEY_COMMANDS_AS_CONNECT" value="false"/>
    <booleanAttribute key="RSE_USE_HOSTNAME" value="true"/>
    <stringAttribute key="TCP_DISABLE_EXTENDED_MODE" value="true"/>
    <booleanAttribute key="TCP_KILL_ON_EXIT" value="false"/>
    <booleanAttribute key="VFS_ENABLED" value="true"/>
    <stringAttribute key="VFS_LOCAL_DIR" value="${workspace_loc}"/>
    <stringAttribute key="VFS_REMOTE_MOUNT" value="/writeable"/>
    <stringAttribute key="breakpoints" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;breakpoints order=&quot;ALPHA&quot;&gt;&#10;&lt;/breakpoints&gt;&#10;"/>
    <listAttribute key="com.arm.debug.views.common.AddressTracker.debugger.view.DisassemblyView.addresses">
        <listEntry value="&lt;Next Instruction&gt;"/>
    </listAttribute>
    <listAttribute key="com.arm.debug.views.common.AddressTracker.debugger.view.DisassemblyView.ranges">
        <listEntry value="100"/>
    </listAttribute>
    <stringAttribute key="config_db_activity_name" value="Debug Cortex-A9_0"/>
    <stringAttribute key="config_db_connection_keys" value="rvi_address target_initialization_script dtsl_config dtsl_tracecapture_option dtsl_config_script config_file setup TCP_KILL_ON_EXIT TCP_DISABLE_EXTENDED_MODE"/>
    <stringAttribute key="config_db_connection_type" value="Bare Metal Debug"/>
    <stringAttribute key="config_db_platform_name" value="Intel SoC FPGA - Cyclone V SoC (Dual Core)"/>
    <stringAttribute key="config_db_project_type" value="Bare Metal Debug"/>
    <stringAttribute key="config_db_project_type_id" value="BARE_METAL"/>
    <stringAttribute key="config_db_taxonomy_id" value="/platform/intelsocfpga/cyclonevsoc_dualcore_"/>
    <stringAttribute key="config_file" value="CDB://../Arria V SoC/Altera_DEV5XS1.rvc"/>
    <booleanAttribute key="connectOnly" value="false"/>
    <stringAttribute key="connection_type" value="USB-Blaster"/>
    <listAttribute key="debugger.view.DisassemblyView:current:8581874436178048151.viewid=2">
        <listEntry value="&lt;Next Instruction&gt;"/>
        <listEntry value="100"/>
    </listAttribute>
    <stringAttribute key="debugger.view.NewRegisterView:DebugOutlineColumnState" value="OutlineConfig1&#9;8&#9;0&#9;true&#9;true&#9;49&#9;-1&#9;true&#9;1&#9;false&#9;true&#9;90&#9;-1&#9;true&#9;2&#9;true&#9;true&#9;45&#9;-1&#9;true&#9;3&#9;false&#9;true&#9;41&#9;-1&#9;true&#9;4&#9;false&#9;true&#9;50&#9;-1&#9;true&#9;5&#9;true&#9;true&#9;37&#9;-1&#9;true&#9;6&#9;false&#9;true&#9;62&#9;-1&#9;true&#9;7&#9;true&#9;true&#9;53&#9;-1&#9;true"/>
    <stringAttribute key="debugger.view.NewRegisterView:_selectedRegisterSet" value="All registers"/>
    <mapAttribute key="debugger.view.NewRegisterView_registerSets"/>
    <booleanAttribute key="debugger.view.register.DrawAsHex" value="false"/>
    <stringAttribute key="dtsl_config" value="USBBlaster_DtslScript"/>
    <stringAttribute key="dtsl_config_script" value="CDB://../Arria V SoC/dtsl_config_script.py"/>
    <stringAttribute key="dtsl_options_file" value="default"/>
    <stringAttribute key="dtsl_tracecapture_option" value="options.traceBuffer.traceCapture"/>
    <stringAttribute key="launch_configuration_version" value="2020.0"/>
    <booleanAttribute key="linuxOS" value="false"/>
    <stringAttribute key="rddi_type" value="rddi-debug-rvi"/>
    <booleanAttribute key="runAfterConnect" value="false"/>
    <stringAttribute key="rvi_address" value="DE-SoC on localhost [USB-1]:DE-SoC USB-1"/>
    <mapAttribute key="scripts_view_script_links">
        <mapEntry key="C:\Program Files\Arm\Development Studio 2020.0\sw\debugger\configdb\Scripts\altera_target_check.py" value=""/>
    </mapAttribute>
    <listAttribute key="setup">
        <listEntry value="CDB://../../../Scripts/altera_debug_server.py"/>
        <listEntry value="CDB://rddi-dap_cfg-altera.txt rddi-dap_altera"/>
    </listAttribute>
    <booleanAttribute key="single_platform" value="true"/>
    <stringAttribute key="stopAtExpression" value="main"/>
    <stringAttribute key="target_initialization_script" value="CDB://../../../Scripts/altera_target_check.py"/>
    <stringAttribute key="watchpoints" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;watchpoints&gt;&#10;&lt;/watchpoints&gt;&#10;"/>
</launchConfiguration>
